In [1]:
import pymysql

In [2]:
import pandas as pd

df = pd.read_csv('trade_file.csv')
df

  Portfolio   Asset        date  qty  price
0     PortA  Asset1  16/04/2022  100    3.0
1     PortA  Asset2  16/04/2022  200    1.5
2     PortA  Asset3  16/04/2022  300    1.0
3     PortB  Asset4  16/04/2022   50    2.0
4     PortB  Asset1  16/04/2022   70    3.0
5     PortB  Asset1  16/04/2022  -20    4.0

In [11]:
class PortfolioTracker():
    def __init__(self):
        self.conn = pymysql.connect(
            host='localhost',
            user='root', 
            password = "password",
            port=6603,
            db='PortfolioTracker',
            )

    def find_asset(self, idcustom):
        c = self.conn.cursor()
        sql = 'Select idasset from assets where idcustom=%s'
        c.execute(sql, (idcustom,) )
        idasset = c.fetchone()
        return idasset

    def find_portfolio(self, idcustom):
        c = self.conn.cursor()
        sql = 'Select idportfolio from portfolios where idcustom=%s'
        c.execute(sql, (idcustom,) )
        idasset = c.fetchone()
        return idasset

    def create_asset(self, idcustom, name):
        c = self.conn.cursor()
        sql = 'INSERT INTO assets (idcustom, name) VALUES (%s, %s)'
        c.execute(sql, (idcustom, name,))
        self.conn.commit()
        return self.find_asset(idcustom)

    def create_portfolio(self, idcustom, name):
        c = self.conn.cursor()
        sql = 'INSERT INTO portfolios (idcustom, name) VALUES (%s, %s)'
        c.execute(sql, (idcustom, name,))
        self.conn.commit()
        return self.find_portfolio(idcustom)

In [22]:
import datetime as dt
myp = PortfolioTracker()
a = myp.find_asset('testa')
p = myp.find_portfolio('testp')
#print(myp.create_portfolio('testp','test portfolio'))
#print(myp.create_asset('testa','test asset'))
if a is None:
    print('We need to create this asset')
if p is None:
    print('We need to create this portfolio')

date= dt.datetime.today()
qty = 100
prc = 10
c = myp.conn.cursor()
sql = 'INSERT INTO trades (idcustom, name) VALUES (%s, %s)'
print(date)

2022-04-16 16:16:50.520509