In [1]:
import pymysql
from datetime import datetime as dt
import pandas as pd

In [4]:
class PortfolioTracker():
    def __init__(self, sql_details):
        self.conn = pymysql.connect(
            host=sql_details['host'],
            user=sql_details['user'], 
            password = sql_details['password'],
            port=sql_details['port'],
            db='PortfolioTracker',
            )

    def find_asset(self, idcustom):
        c = self.conn.cursor()
        sql = 'Select idasset from assets where idcustom=%s'
        c.execute(sql, (idcustom,) )
        idasset = c.fetchone()
        return idasset

    def find_portfolio(self, idcustom):
        c = self.conn.cursor()
        sql = 'Select idportfolio from portfolios where idcustom=%s'
        c.execute(sql, (idcustom,) )
        idportfolio = c.fetchone()
        return idportfolio

    def create_asset(self, idcustom, name):
        c = self.conn.cursor()
        sql = 'INSERT INTO assets (idcustom, name) VALUES (%s, %s)'
        c.execute(sql, (idcustom, name,))
        self.conn.commit()
        return self.find_asset(idcustom)

    def create_portfolio(self, idcustom, name):
        c = self.conn.cursor()
        sql = 'INSERT INTO portfolios (idcustom, name) VALUES (%s, %s)'
        c.execute(sql, (idcustom, name,))
        self.conn.commit()
        return self.find_portfolio(idcustom)
    
    def load_trade(self, idportfolio, idasset, date, qty, price):
        c = self.conn.cursor()
        sql = 'INSERT INTO trades (idportfolio, idasset, date, qty, price) VALUES (%s, %s, %s, %s, %s)'
        c.execute(sql, (idportfolio, idasset, dt.strptime(date,'%d/%m/%Y'), qty, price))
        self.conn.commit()
        return 0
    
    def load_price(self, idasset, date, price):
        c = self.conn.cursor()
        sql = 'INSERT INTO prices (idasset, date, price) VALUES (%s, %s, %s)'
        c.execute(sql, (idasset, dt.strptime(date,'%d/%m/%Y'), price))
        self.conn.commit()
        return 0
    
    def find_price(self, date, idasset):
        c = self.conn.cursor()
        sql = 'Select price from prices where idasset=%s and date=%s'
        c.execute(sql, (idasset, dt.strptime(date,'%d/%m/%Y')) )
        price = c.fetchone()
        if price is None:
            print('Price not found for idasset {0}'.format(idasset))
            price = 0
        return price[0]
    
    def find_prices(self, date, idassets):
        prices = []
        for idasset in idassets:
            prices.append(self.find_price(date, idasset))
        return prices
    
    def load_prices_from_file(self, path):
        df = pd.read_csv(path)
        for val in df.values:
            aname = self.find_asset(val[0])
            if aname is None:
                aname = self.create_asset(val[1])
            self.load_price(aname, *val[1:])
    
    def load_trades_from_file(self, path):
        df = pd.read_csv(path)
        for val in df.values:
            #find asset/portfolio
            pname = self.find_portfolio(val[0])
            aname = self.find_asset(val[1])
            #create if not found
            if pname is None:
                pname = self.create_portfolio(val[0], val[0])
            if aname is None:
                aname = self.create_asset(val[1], val[1])
            #load trade
            self.load_trade(pname, aname, *val[2:])
            
    def get_trades_df(self, date, portfolio_name):
        c = self.conn.cursor()
        idp = myp.find_portfolio(portfolio_name)
        sql = 'Select * from trades where idportfolio=%s and date<=%s'
        c.execute(sql,(idp, dt.strptime(date,'%d/%m/%Y'),))
        rdf = pd.DataFrame(c.fetchall())
        rdf.columns = [i[0] for i in c.description]
        rdf = rdf.astype({'price':'float'})
        return rdf
    
    def get_valuation_df(self, date, portfolio_name):
        #get trades
        rdf = self.get_trades_df(date, portfolio_name)
        #remove trade id
        rdf.drop(['idtrade'], axis=1, inplace=True)
        
        #aggeragate for valuation
        aggdf = rdf.groupby(['idportfolio','idasset']).sum()
        assets =  [x[1] for x in aggdf.index.values]
        
        #get prices as of requested date
        curr_prices = self.find_prices(date, assets)
        aggdf['price'] = curr_prices
        aggdf['value'] = aggdf['price']*aggdf['qty']
        aggdf = aggdf.astype({'price':'float', 'value':'float'})
        
        #get gains
        gdf = self.get_gain_df(date, portfolio_name)
        gdf_grouped = gdf.groupby(['idportfolio','idasset']).last()
        
        #join gains to valuation and create ureal gains
        aggdf = aggdf.join(gdf_grouped[['cum cost', 'cum real gains']])
        aggdf['unreal gains'] = aggdf['value']-aggdf['cum cost']
        
        return aggdf
    
    def create_gain_df(self, rdf):
        rdf['cost'] = rdf['qty']*rdf['price']
        rdf['cum qty'] = rdf['qty'].cumsum()
        #set negatives to 0 and cumsum
        rdf['cum buy qty'] = rdf['qty'].mask(rdf['qty']<0, 0).cumsum()
        rdf['cum buy cost'] = rdf['cost'].mask(rdf['cost']<0, 0).cumsum()
        #calc average cost
        rdf['avg cost'] = rdf['cum buy cost']/rdf['cum buy qty']
        #set all positive qtys to 0 and multiply by avg cost from previous cell
        rdf['sell w-off'] = rdf['qty'].mask(rdf['qty']>0,0)*rdf['avg cost'].shift(fill_value=0)

        #calc gain on sale
        rdf['gain on sale'] = -rdf['cost'].mask(rdf['cost']>0, 0)+rdf['sell w-off']

        #calc cumlative sale write off and contrib
        rdf['cum sell w-off'] = rdf['sell w-off'].cumsum()
        rdf['cum sell contib'] = -rdf['cost'].mask(rdf['cost']>0, 0).cumsum()

        #calc cumlative cost and gains on that
        rdf['cum cost'] = rdf['cum buy cost'] + rdf['cum sell w-off']
        rdf['cum real gains'] = rdf['cum sell contib'] + rdf['cum sell w-off']
        
        return rdf
        
    def get_gain_df(self, date, port_name):
        rdf = self.get_trades_df(date, port_name)
        #split trades by asset pass each df to gains calculator
        #rejoin returned list of df
        rdf = pd.concat([self.create_gain_df(v) for k, v in rdf.groupby('idasset')])
        
        return rdf
    
    def get_all_portfolio_names(self):
        c = self.conn.cursor()
        sql = 'select name from portfolios'
        c.execute(sql)
        pnames = [x[0] for x in c.fetchall()]
        
        return pnames
    
    #TODO: Replace these by having get_valuation_df and get_gain_df handle list objects
    def get_valuations_df(self, date, portfolio_names): 
        return pd.concat([self.get_valuation_df(date,pname) for pname in portfolio_names])
    
    def get_gains_df(self, date, portfolio_names):
        return pd.concat([self.get_gain_df(date, pname) for pname in portfolio_names])
    
    def get_all_valuations_df(self, date):
        return self.get_valuations_df(date, self.get_all_portfolio_names())
    
    def get_all_gains_df(self, date):
        return self.get_gains_df(date, self.get_all_portfolio_names())
    
    #TODO: Add Stock Split/ Name change and id change corprate actions

In [7]:
# example of use
sql_details = {'host':'localhost', 'user':'root', 'password':'password', 'port':6603}
myp = PortfolioTracker(sql_details)

#load your trades and prices......trades will create assets and porfolio if they dont exist
#myp.load_trades_from_file('trade_file.csv')
#myp.load_prices_from_file('price_file.csv')

#review your valuation and trade summary
val_df = myp.get_all_valuations_df('15/05/2022')
trd_df = myp.get_all_gains_df('15/05/2022')

#check out valuation
val_df

                      qty  price   value  cum cost  cum real gains  \
idportfolio idasset
1           1           0    1.0     0.0       0.0         -1800.0
            2        1800    1.0  1800.0    2700.0             0.0
            3        2700    1.0  2700.0    2700.0             0.0
2           1         450    1.0   450.0    1350.0           180.0
            4         400    5.0  2000.0     800.0            50.0
3           5         720   10.0  7200.0    2160.0             0.0

                     unreal gains
idportfolio idasset
1           1                 0.0
            2              -900.0
            3                 0.0
2           1              -900.0
            4              1200.0
3           5              5040.0

In [8]:
#check out trade summary
trd_df

,idtrade,idportfolio,idasset,date,qty,price,cost,cum qty,cum buy qty,cum buy cost,avg cost,sell w-off,gain on sale,cum sell w-off,cum sell contib,cum cost,cum real gains
0,10229,1,1,2022-04-16,100,3.0,300.0,100,100,300.0,3.0,0.0,0.0,0.0,-0.0,300.0,0.0
3,10236,1,1,2022-04-16,100,3.0,300.0,200,200,600.0,3.0,0.0,0.0,0.0,-0.0,600.0,0.0
6,10243,1,1,2022-04-16,100,3.0,300.0,300,300,900.0,3.0,0.0,0.0,0.0,-0.0,900.0,0.0
9,10250,1,1,2022-04-16,100,3.0,300.0,400,400,1200.0,3.0,0.0,0.0,0.0,-0.0,1200.0,0.0
12,10257,1,1,2022-04-16,100,3.0,300.0,500,500,1500.0,3.0,0.0,0.0,0.0,-0.0,1500.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,10263,3,5,2022-04-16,80,3.0,240.0,400,400,1200.0,3.0,0.0,0.0,0.0,-0.0,1200.0,0.0
5,10270,3,5,2022-04-16,80,3.0,240.0,480,480,1440.0,3.0,0.0,0.0,0.0,-0.0,1440.0,0.0
6,10277,3,5,2022-04-16,80,3.0,240.0,560,560,1680.0,3.0,0.0,0.0,0.0,-0.0,1680.0,0.0
7,10284,3,5,2022-04-16,80,3.0,240.0,640,640,1920.0,3.0,0.0,0.0,0.0,-0.0,1920.0,0.0
8,10291,3,5,2022-04-16,80,3.0,240.0,720,720,2160.0,3.0,0.0,0.0,0.0,-0.0,2160.0,0.0

In [371]:
#myp.load_prices_from_file('price_file.csv')

In [376]:
#myp.load_trade(1,1,'14/05/2022',-300,1)

0